<html>
  <head>
	{{> head}}
	<link rel="stylesheet" href="/css/home.css">
  </head>
  <body>

	{{> header-manager }}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Evaluation & Interaction System</h1>
				</div> <!-- /.col-lg-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-bell fa-fw"></i> Evaluation System
						</div> <!-- /.panel-heading -->
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on Magic Hotel Los Angeles TWIN room
									<span class="pull-right text-muted small"><em>4 minutes ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on Magic Castle Hotel SUITE room
									<span class="pull-right text-muted small"><em>10 minutes ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on Hotel Magic Elysee SEMIDOUBLE room
									<span class="pull-right text-muted small"><em>1 hour ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on Opus Hotel Magic SINGLE room
									<span class="pull-right text-muted small"><em>3 hours ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on The Pearl Magic Hotel TRIPLE room
									<span class="pull-right text-muted small"><em>5 hours ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on Affinia Magic Gardens DOUBLE room
									<span class="pull-right text-muted small"><em>10 hours ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on Library Magic Hotel SUITE room
									<span class="pull-right text-muted small"><em>14 hours ago</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Comment on The Broome Magic SINGLE room
									<span class="pull-right text-muted small"><em>20 hours ago</em>
									</span>
								</a>
							</div> <!-- /.list-group -->
							<a href="#" class="btn btn-default btn-block">View All Comments</a>
						</div> <!-- /.panel-body -->
					</div> <!-- /.panel -->
				</div> <!-- /.col-md-6 -->
				<div class="col-md-6">
					<div class="chat-panel panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-comments fa-fw"></i>
							Chat
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-chevron-down"></i>
								</button>
								<ul class="dropdown-menu slidedown">
									<li>
										<a href="#">
											<i class="fa fa-refresh fa-fw"></i> Refresh
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-check-circle fa-fw"></i> Available
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-times fa-fw"></i> Busy
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-clock-o fa-fw"></i> Away
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
											<i class="fa fa-sign-out fa-fw"></i> Sign Out
										</a>
									</li>
								</ul>
							</div>
						</div> <!-- /.panel-heading -->
						<div class="panel-body">
							<ul class="chat">
								<li class="left clearfix">
									<span class="chat-img pull-left">
										<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
									</span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font">Jack Sparrow</strong>
											<small class="pull-right text-muted">
												<i class="fa fa-clock-o fa-fw"></i> 12 mins ago
											</small>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="right clearfix">
									<span class="chat-img pull-right">
										<img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
									</span>
									<div class="chat-body clearfix">
										<div class="header">
											<small class=" text-muted">
												<i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
											<strong class="pull-right primary-font">Bhaumik Patel</strong>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="left clearfix">
									<span class="chat-img pull-left">
										<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
									</span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font">Jack Sparrow</strong>
											<small class="pull-right text-muted">
												<i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="right clearfix">
									<span class="chat-img pull-right">
										<img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
									</span>
									<div class="chat-body clearfix">
										<div class="header">
											<small class=" text-muted">
												<i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
											<strong class="pull-right primary-font">Bhaumik Patel</strong>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
							</ul>
						</div> <!-- /.panel-body -->
						<div class="panel-footer">
							<div class="input-group">
								<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
								<span class="input-group-btn">
									<button class="btn btn-warning btn-sm" id="btn-chat">
										Send
									</button>
								</span>
							</div>
						</div> <!-- /.panel-footer -->
					</div> <!-- /.panel .chat-panel -->
				</div> <!-- /.col-md-7 -->
			</div> <!-- /.row -->
		</div> <!-- /#page-wrapper -->
	{{> footer }}
  </body>
</html>
