<html>
  <head>
	{{> head}}
	<link rel="stylesheet" href="/css/home.css">
  </head>
  <body>

	{{> header-manager }}
		<div id="page-wrapper">
		</div> <!-- /#page-wrapper -->
	{{> footer }}
  </body>
</html>
