<html>
  <head>
		{{> head}}
		<link rel="stylesheet" href="/css/framework/bootstrap-datepicker.min.css">
		<link rel="stylesheet" href="/css/customerflow.css">
  </head>
  <body>
		{{> header-manager }}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">Customer Flow</h1>
				</div> 
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-6 sub-title">
					<div class="title">type:</div>
					<div class="content row">
						<label class="col-md-3 radio-inline"><input type="radio" name="type" value="season" checked>Season</label>
						<label class="col-md-3 radio-inline"><input type="radio" name="type" value="room">Room</label>
						<label class="col-md-3 radio-inline"><input type="radio" name="type" value="customer">Customer</label>
					</div> <!-- /.row.content -->
				</div>
				<div class="col-md-6 sub-title">
					<div class="title">date:</div>
					<div class="row content">
						<label class="col-md-3 radio-inline"><input type="radio" name="date" value="all" checked>All</label>
						<label class="col-md-3 radio-inline"><input type="radio" name="date" value="today">Today</label>
						<label class="col-md-4 radio-inline"><input type="radio" name="date" value="specific">Specific date</label>
					</div> <!-- /.row.content -->
					<div class="row content" id="datepicker-wrapper">
						<div class='col-md-6 input-group date' id='datepicker1'>
							<input type='text' class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div class="col-md-2"> ~ </div>
						<div class='col-md-6 input-group date' id='datepicker2'>
							<input type='text' class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div> <!-- /.row.content -->
				</div>
			</div> <!-- /.row -->
			<div class="row"><div class="col-md-6 sub-title">
				<div class="title">Range:</div>
				<div class="row content">
					<label class="radio-inline col-md-3"><input type="radio" name="range" value="all" checked>All</label>
					<label class="radio-inline col-md-3"><input type="radio" name="range" value="regional">Regional</label>
				</div>
			</div></div> <!-- /.row -->
			<div class="row"><div class="col-md-12 sub-title"> 
				<div class="row content" id="regional-option"></div>
			</div></div> <!-- /.row -->
			<div class="row" id="flow-chart-wrapper">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="flow-chart" id="flow-chart-room"></div>
					<div class="flow-chart" id="flow-chart-customer"></div>
					<div class="flow-chart" id="flow-chart-season"></div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
		{{> footer }}
		<script src="/js/framework/bootstrap-datepicker.min.js"></script>
		<script src="/js/manager/customerflow.js"></script>
  </body>
</html>
